fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 0 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  border: 1.5px solid #00a65a !important;
  border-radius: 12px;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  /*font-weight: bold !important;*/
  text-align: left !important;
  width: auto;
  padding: 0 5px;
  border-bottom: none;
  margin-bottom: 5px;
}

.has-error .select2-selection {
  border-color: #f25961 !important;
}

.has-error
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  color: #f25961 !important;
}

.has-success .select2-selection {
  border-color: #31ce36 !important;
}

.has-success
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  color: #31ce36 !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 42px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 42px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

p {
  margin-bottom: 0px;
  font-size: 12px;
}

.sidebar .nav-collapse,
.sidebar[data-background-color="white"] .nav-collapse {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* ============================ CSS TABLE ================================== */
.table-default,
.table-rekap {
  font-family: sans-serif;
  color: #444;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #f2f5f7;
}

.table-default tr th,
.table-rekap tr th {
  background: #007bff;
  color: #fff;
  font-weight: normal;
}

.table-default th,
.table-default td {
  font-size: 14px;
  padding: 10px 10px;
}

.table-rekap th {
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
}

.table-rekap td {
  font-size: 12px;
  padding: 10px 5px;
}

.table-default tr:nth-child(even),
.table-rekap tr:nth-child(even) {
  background-color: #def4f8;
}

.table-default tr:hover,
.table-rekap tr:hover {
  background-color: #c3c2f1;
}

.table-detail {
  width: 100%;
}

.table-detail tr td {
  padding: 5px 10px;
}

/* odd warna dimulai dari baris pertama, even warna dimulai dari baris ke dua */
.table-detail tr:nth-child(odd) {
  background-color: #acd1f7;
}

.foto-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.lampiran-img {
  width: 200px;
  height: 125px;
}

.table-grafik tr th {
  padding: 7px 10px;
  color: #fff;
}
